/*

	
	*****************************************
	
	
    - Header
	- Billboard
    - Call To Action
    - Services
    - Recent Work
    - Testimonials
    - Client
    - Footer
	
*/



/*  Fonts  */
@font-face {
    font-family: 'open_regular';
    src: url('../fonts/opensans-regular.eot');
    src: url('../fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-regular.woff') format('woff'),
         url('../fonts/opensans-regular.ttf') format('truetype'),
         url('../fonts/opensans-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_bold';
    src: url('../fonts/opensans-bold.eot');
    src: url('../fonts/opensans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold.woff') format('woff'),
         url('../fonts/opensans-bold.ttf') format('truetype'),
         url('../fonts/opensans-bold.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/opensans-semibold.eot');
    src: url('../fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-semibold.woff') format('woff'),
         url('../fonts/opensans-semibold.ttf') format('truetype'),
         url('../fonts/opensans-semibold.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'satellite';
    src: url('../fonts/satellite.eot');
    src: url('../fonts/satellite.eot?#iefix') format('embedded-opentype'),
         url('../fonts/satellite.woff') format('woff'),
         url('../fonts/satellite.ttf') format('truetype'),
         url('../fonts/satellite.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




/*  General CSS*/
.wrapper{
	width: 1200px;
	height: auto;
	margin: 0 auto;
}


footer .f_cols ul.sm li a,
header nav ul li a,
footer a:hover{
	transition:all .2s linear;
	-webkit-transition:all .2s linear;
	-moz-transition:all .2s linear;
	-o-transition:all .2s linear;
}






/*  Header  */
header.trasparent_nav{
	width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, .5);
    border-bottom: 1px rgba(255, 255, 255, .3) solid;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 9999;
}


header.trasparent_nav .logo,
header.fixed_nav .logo{
    float: left;
    margin-top: 30px;
}
header.trasparent_nav .logo p,
header.fixed_nav .logo p{
    text-decoration: none;
    color: #454545;
    font-family: 'open_regular', helvetica;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
}

header.fixed_nav .logo{
    margin-top: 30px;
}

header.trasparent_nav nav,
header.fixed_nav nav{
    float: right;
    margin-top: 40px;
}

header.fixed_nav nav{
    margin-top: 40px;
}

header.trasparent_nav nav ul,
header.fixed_nav nav ul{
    list-style: none;
}

header.trasparent_nav nav ul li,
header.fixed_nav nav ul li{
    float: left;
    margin-left: 50px;
}

header.trasparent_nav nav ul li:first-child,
header.fixed_nav nav ul li:first-child{
    margin-left: 0;
}

header.trasparent_nav nav ul li a,
header.fixed_nav nav ul li a{
    text-decoration: none;
    color: #454545;
    font-family: 'open_regular', arial;
    font-size: 16px;
}

header.trasparent_nav nav ul li a:hover,
header.fixed_nav nav ul li a:hover{
    color: #e61c42;
}

header.fixed_nav nav ul li a{
    font-size: 16px;
}


header.fixed_nav{
    width: 100%;
    height: 80px;
    background-color: rgba(255, 255, 255, .8);
    border-bottom: 1px solid #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-top: -81px;
}








/*  Call To Action Section  */
.cta{
    width: 1200px;
    height: 90px;
    margin: 0 auto;
    position: relative;
}

.cta p{
    display: inline-block;
    font-family: 'open_regular', arial;
    font-size: 20px;
    margin: 35px 0 0 40px;
    letter-spacing: 1px;
}

.cta a{
    float: right;
    padding: 17px 60px;
    text-decoration: none;
    font-family: 'open_regular', arial;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 20px 40px 0 0;
}

.cta_top{
    background-color: rgba(255, 255, 255, .8);
    margin-top: -90px;
}

.cta_top p{
    color: #454545;
}

.cta_top a{
    background: #e61c42;
    color: #fff;
}





/*  Services  */
.services{
    padding: 60px 0;
    background: white;
}

.services h2{
    color: #606060;
    font-family: 'open_semibold', arial;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}








/*  Recent Work  */
.recent_work{
    margin-left: 2%;
    width: 100%;
    height: 300px;
    background: white;
    overflow: hidden;
    margin-bottom: 15px;
}

.recent_work .work{
    display: block;
    width: 33%;
    height: 100%;
    float: left;
    border-left: 2px  solid white;
    
}
/*gia*/
.recent_gia{
    margin-left: 2%;
    width: 100%;
    height: 70px;
    background: white;
    overflow: hidden;
}

.recent_gia .gia{
    display: block;
    width: 24%;
    height: 100%;
    float: left;
    border-left: 2px  solid white;
}
.recent_gia .gia a{
    margin-top:5px;
    background-color: #4CAF50; /* Green */
    border: none;
    color: black;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
/*giua*/
.giua{
    width: 100%;
    height: 60px;
    background: white;
}
/*tes*/
.testimonials{
    width: 100%;
    height: 120px;
    background: white;
    
}


/*  Footer  */
footer{
    width: 100%;
    height: 320px;
    background: #353535;
    overflow: hidden;
    padding-bottom: 20px;
}

footer .cta_footer{
    background-color: #434343;
}

footer .cta_footer p{
    color: #ffffff;
}

footer .cta_footer a{
    background: #e61c42;
    color: #fff;
}

footer .footer_widget{
    overflow: hidden;
    padding-bottom: 40px;
    margin-bottom: 40px;
    border-bottom: 1px #434343 solid;
}

footer .f_cols{
    display: block;
    width: 270px;
    height: auto;
    float: left;
    margin:40px 40px 0 0;
}

footer .f_cols:last-child{
    margin-right: 0;
}

footer .f_cols h3{
    color: #fff;
    font-family: 'open_regular', arial;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 20px;
    letter-spacing: 1px;

}

footer .f_cols p{
    font-family: 'open_regular', arial;
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 1px;
    color: #ffffff;
    margin-bottom: 10px;
}



p.rights{
    display: block;
    text-align: center;
    margin: 0;
    padding:0;
    color: #fff;
    font-family: 'open_regular', arial;
    font-size: 13px;
    letter-spacing: 1px;
}


